<!DOCTYPE html>
<html>
<head>
  <title>LiqpayDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1><%=link_to_unless_current 'LiqPAY Demo Webstore', root_url %></h1>
  <p>
    <%=link_to 'Gem', 'https://rubygems.org/gems/liqpay' %>
    <%=link_to 'Source', 'https://github.com/leonid-shevtsov/liqpay_demo' %>
  </p>

  <%= yield %>

</body>
</html>
