<!DOCTYPE html>
<html>
  <head>
    <title>LiqpayDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

<body>

  <h1><%=link_to_unless_current 'LiqPAY Demo Webstore', root_url %></h1>
  <p>
    <%=link_to 'Gem', 'https://rubygems.org/gems/liqpay' %>
    <%=link_to 'Source', 'https://github.com/leonid-shevtsov/liqpay_demo' %>
    <%=link_to 'Past orders log', orders_path %>
  </p>

  <%= yield %>
</body>

</html>
